<footer>
  <div class="container mt-3">
    <div class="row">
      <div
        class="d-xs-block col-5 d-md-block col-md-11 d-lg-block col-lg-10 line2"
      >
        <p class="text-xs-left text-3 pt-4 mx-2">
          ©&nbsp;Copyright&nbsp;2022. Vadim&nbsp;Kaloshin.
        </p>
      </div>

      <div class="d-xs-block col-7 d-md-block col-md-1 d-lg-block col-lg-2 line2">
        <a href="https://erc.europa.eu/funding/starting-grants"  target="_blank">
        <img
          class="img-fluid imgF"
          width="200"
          height="200"
          src="../../assets/erc.png"
          alt="No image"
        /> 
          </a>
        </div>
      </div>
  </div>
</footer>
