.container-fluid {
  min-height: 85vh;
}

.colorMenu{
  color: white;
  margin-bottom: 18px;
  padding: 3px;
  height: 20px;
}


/*********** Main column 1 **************/
.nav {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  display: none;
}

.column01 {
  padding: 30px;
  margin-top: 40px;
  height: 220px;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  background-color: #ccc;
  border-radius: 4px;
}

/* .colorT{
    color: black;
} */

/*********** Main column 2 **************/
.column02 {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 40px;
  padding: 15px;
}

/*********** NEWS section **************/

.nav-pills > li > a {
  border-radius: 0;
  font-size: 18px;
  padding: 6px 18px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: black;
}

.tab-content {
  margin: 50px 0 20px 0;
}

.media > .pull-left {
  margin-right: 29px;
}
.media .dateEl {
  display: inline-block;
  text-align: center;
  background: #f9f9f9;
  padding: 18px 0 25px 0;
  color: #173d51;
  font-size: 16px;
  font-weight: 700;
  width: 113px;
  text-transform: uppercase;
}
.media .dateEl em {
  display: block;
  color: rgb(22, 22, 22);
  font-size: 42px;
  line-height: 1;
  margin-bottom: 5px;
  font-style: normal;
}
.media .media-heading a {
  color: #022235;
  font-size: 21px;
  text-transform: uppercase;
}
.media .meta-data {
  margin: 0 0 7px 0;
}
.media .longDate,
.media .timeEl {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  color: #636465;
  text-transform: uppercase;
  min-height: 16px;
}
.media .longDate {
  background: transparent grey no-repeat left top;
  padding: 0 10px 0 24px;
  border-right: 1px solid rgb(73, 73, 73);
  margin-right: 3px;
}
#tab1.tab-pane .media .longDate {
  border-right: none;
}
.blogPost--small {
  color: #7c7b7b;
  margin: 20px 30px 40px 0;
}
.blogPost--small .media > .pull-left {
  margin-right: 25px;
}

/*********** Research **************/

.btn-text b {
  display: inline;
}
.btn-text:not(.collapsed) span {
  display: none;
}
.btn-text.collapsed b {
  display: none;
}

#styleB1 {
  background-color: rgb(47, 96, 202);
  color: white;
  padding: 4px;
  border-radius: 4px;
}
#styleB2 {
  background-color: rgb(47, 96, 202);
  color: white;
  padding: 4px;
  border-radius: 4px;
}

/*********** Publications **************/
/* rounded  list style   */

/* list */
.rounded-list ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}

/* item  */
.rounded-list ol > li {
  position: relative; /* Create a positioning context */
  list-style: none; /* Disable the normal item numbering */
  background: #f6f6f6; /* Item background color */
  margin: 0; /* Give each list item a left margin to make room for the numbers */
  padding-left: 15px; /* Add some spacing around the content */
  padding-bottom: 0px;
  padding-top: 0px;
}

/* number  */
.rounded-list ol > li p:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;

  /* number background */
  background: #959da0;
  height: 2em;
  width: 2em;
  margin-top: -1em;
  line-height: 1.5em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
}

/*********** BIO **************/
.textVadim {
  text-align: justify;
  text-indent: 25px;
}

#demoimage {
  float: left;
  margin-right: 20px;
}

button {
  box-shadow: 3px 3px 6px #aaa !important;
  margin: 0.1rem 0;
}
button:focus {
  outline-style: none;
}
.nav-link {
  transition: letter-spacing 0.3s linear;
}
.active-link,
.active-link:hover {
  color: #fff;
  background: #333;
  letter-spacing: 1px;
}

@media screen and (max-width: 990px) {
  .column01 {
    display: none;
  }
  .nav-btn {
    display: block;
    position: fixed;
    right: 2rem;
    top: 4rem;
    z-index: 4;
  }

  .showNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    z-index: 3;
    animation: show 0.3s linear;
    /* animation-fill-mode: forwards; */
  }
  .nav {
    width: 30%;
    padding-top: 3rem;
  }
  .active-link,
  .active-link:hover {
    color: #fff;
    background: rgb(55, 56, 58);
    letter-spacing: 1px;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}


