<h2 class="strong"> News </h2>
<div
  class="tab-pane show active"
  id="v-pills-news"
  role="tabpanel"
  aria-labelledby="v-pills-news-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="media">
          <a class="pull-left" href="#">
            <span class="dateEl"><em>1</em> May </span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold"> New members</p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2022 </span>
            </div>
            <p class=" textNews">
              In recent weeks, Kaloshin Group has gained two new members: Amir Vig and Illya Koval.
            </p>
          </div>
        </div>


        <div class="media">
          <a class="pull-left" href="#">
            <span class="dateEl"><em>5</em> Sep </span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold"> New members</p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2021 </span>
            </div>
            <p class=" textNews">
              Kostiantyn Drach and Corentin Fierobe
              have recently joined Kaloshin Group.
            </p>
          </div>
        </div>
  <br>
        <div class="media">
          <a class="pull-left" href="#">
            <span class="dateEl"><em>8</em> July </span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold"> Academia Europaea</p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2021 </span>
            </div>
            <p class="textNews">
              Prof. Kaloshin joined the <i>Academia Europaea</i>, a prestigious scientific
              society.
            </p>
          </div>
        </div>
        <br>
        <div class="media">
          <a class="pull-left" href="#"
            ><span class="dateEl"><em>13</em>Aug</span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold"> ICCM Award </p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2020 </span>
            </div>
            <p class=" textNews">
              Prof. Kaloshin, Prof. Guan Huang, and Prof. Alfonso
              Sorrentino received the Award of 2020 ICCM Best Paper (Gold
              Medal).
            </p>
          </div>
        </div>

        <br>
        <div class="media">
          <a class="pull-left" href="#"
            ><span class="dateEl"><em>31</em>Mar</span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold"> ERC Advanced grant </p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span><span class="timeEl"> 2020 </span>
            </div>
            <p class="textNews">
              Prof. Kaloshin received an European Research Council (ERC)
              Advanced grant. The title of his project is: <i>“Spectral Rigidity
              and Integrability for Billiards and Geodesic Flows”</i>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <a class="pull-left" href="#">
            <span class="dateEl"><em>11</em>Mar</span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold text-left pt-3">Arnold Diffusion for Smooth Systems&nbsp;of&nbsp;Two and
                a&nbsp;Half&nbsp;Degrees&nbsp;of&nbsp;Freedom</p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2020 </span>
            </div>
            <p class="textNews">
               Prof. Kaloshin in collaboration with Prof. Ke Zhang published the book
               <i>“Arnold Diffusion for Smooth Systems of Two and
               a Half Degrees of Freedom”</i>. Reference on the book can be found in
               the "Publications" section. The book is published
               by Annals of Mathematics Studies.
            </p>
          </div>
        </div>
        <br>
        <div class="media">
          <a class="pull-left" href="#">
            <span class="dateEl"><em>29</em>Jan</span></a>
          <div class="media-body">
            <h4 class="media-heading">
              <p class="font-weight-bold text-left">Resolució Barcelona Dynamical System&nbsp;Prize 2019</p>
            </h4>
            <div class="meta-data">
              <span class="longDate"></span>
              <span class="timeEl"> 2019 </span>
            </div>
            <p class="textNews">
              Prof. Kaloshin and Prof. Alfonso Sorrentino received the
              Barcelona Dynamical Systems Prize on the paper <i>"On the local
              Birkhoff conjecture for convex billiards"</i>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
