<div
  class="tab-pane"
  id="v-pills-bio"
  role="tabpanel"
  aria-labelledby="v-pills-bio-tab">
  <h2 class="strong pb-3">Vadim's biography</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm col-lg-3">
        <img class="img-fluid"
        id="demoimage"
        src="../../../assets/vadim.JPG"
        alt="NO IMAGE" />
      </div>

      <div class="col-sm ">
        
     <p class="text-justify"> Professor Vadim Kaloshin is the Michael Brin Chair in Mathematics at the
    University of Maryland in College Park and a Professor at the Institute of
    Science and Technology Austria (IST Austria). After receiving his Ph.D. from the Princeton
    University in 2001, he was awarded the
    <a
      href="https://aimath.org/programs/five-year-fellows/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      American Institute of Mathematics</a>
      five year fellowship. He is a recipient of
    <a
      href="https://sloan.org/past-Fellows?page=188"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Sloan fellowship</a>
      (2004) and
    <a
      href="https://www.simonsfoundation.org/team/vadim-kaloshin/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Simons fellowship
    </a>
    (2016), besides, he was awarded a Moscow Mathematical Society Prize (2001)
    and the
    <a
      href="https://scm.iec.cat/resolucio-barcelona-dynamical-system-prize-2019/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Barcelona Prize in Dynamical Systems</a>
     (2019). In 2020 he received a gold medal from the
    <a
      href="http://iccm.tsinghua.edu.cn/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">International Consortium of Chinese Mathematics (ICCM)</a>. 
      Professor Kaloshin is a member of the Academia Europaea, a prestigious scientific society, 
      and grantee of the European Research Council (ERC) Grant.
 <br>
     </p>
  <p class="text-justify">
    From 2007 to 2019 he was an editor of
    <a
      href="https://www.springer.com/journal/222/editors"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Inventiones mathematicae</a>. He holds the editorial boards of
    <a
      href="https://www.journals.elsevier.com/advances-in-mathematics/editorial-board"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Advances in Mathematics</a>,
    <a
      href="https://msp.org/apde/about/journal/editorial.html"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Analysis & PDE</a>,
    <a
      href="https://www.cambridge.org/core/journals/ergodic-theory-and-dynamical-systems/information/editorial-board"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Dynamical Systems and Ergodic Theory</a>, and
      <a
      href="https://www.ems-ph.org/journals/editorial.php?jrn=rmi"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Revista Matemática Iberoamericana</a>.
      </div>
    </div>
  </div>
  <!-- <p class="textVadim1">

    <img class="img-fluid"
      id="demoimage"
      src="../../../assets/vadim.JPG"
      alt="NO IMAGE" />
    Professor Vadim Kaloshin is the Michael Brin Chair in Mathematics at the
    University of Maryland in College Park and a Professor at the Institute of
    Science and Technology Austria. After receiving his Ph.D. from the Princeton
    University in 2001, he was awarded the
    <a
      href="https://aimath.org/programs/five-year-fellows/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      American Institute of Mathematics</a>
      five year fellowship. He is a recipient of
    <a
      href="https://sloan.org/past-Fellows?page=188"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Sloan fellowship</a>
      (2004) and
    <a
      href="https://www.simonsfoundation.org/team/vadim-kaloshin/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Simons fellowship
    </a>
    (2016), besides, he was awarded a Moscow Mathematical Society Prize (2001)
    and the
    <a
      href="https://scm.iec.cat/resolucio-barcelona-dynamical-system-prize-2019/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Barcelona Prize in Dynamical Systems</a>
     (2019). In 2020 he received a gold medal from the
    <a
      href="http://iccm.tsinghua.edu.cn/"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">International Consortium of Chinese Mathematics (ICCM)</a>.
  </p>

  <p class="textVadim">
    From 2007 to 2019 he was an editor of
    <a
      href="https://www.springer.com/journal/222/editors"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Inventiones mathematicae</a>. He holds the editorial boards of
    <a
      href="https://www.journals.elsevier.com/advances-in-mathematics/editorial-board"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Advances in Mathematics</a>,
    <a
      href="https://msp.org/apde/about/journal/editorial.html"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Analysis & PDE</a>,
    <a
      href="https://www.cambridge.org/core/journals/ergodic-theory-and-dynamical-systems/information/editorial-board"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Dynamical Systems and Ergodic Theory</a>, and
      <a
      href="https://www.ems-ph.org/journals/editorial.php?jrn=rmi"
      title="Click on the link"  target="_blank"
      data-toggle="popover"
      data-trigger="focus">
      Revista Matemática Iberoamericana</a>.
  </p> -->
<br>
  <p style="font-style: italic;"> Link to
    <a href="https://scholar.google.com/citations?user=lPUzfhYAAAAJ&hl=en"
    title="Click on the link"  target="_blank" style="font-style: italic;">Google Scholar</a></p>
</div>
