<div
  class="tab-pane"
  id="v-pills-contact"
  role="tabpanel"
  aria-labelledby="v-pills-contact-tab">
  <h2 class="strong pb-3">Contact</h2>

  <address>
    <a href="https://ist.ac.at/en/home/"  target="_blank">
      Institute of Science and Technology Austria (IST Austria)
    </a>
    <br>
    Am Campus 1 <br>
    3400 Klosterneuburg <br>
    Austria <br>
    <br>
    <a href="https://www-math.umd.edu/"  target="_blank">
      University of Maryland, Mathematics Department
    </a>
    <br>
    4176 Campus Drive - William E. Kirwan Hall <br>
    College Park <br>
    MD 20742-4015 <br>
    United States  <br>


    <br>
    E-mail: <br>
    Vadim Kaloshin (primary e-mail):
    <a href="mailto:vadim.kaloshin@gmail.com"> vadim.kaloshin@gmail.com </a> <br>
    Vadim Kaloshin (secondary e-mail):
    <a href="mailto:vadim.kaloshin@ist.ac.at"> vadim.kaloshin@ist.ac.at </a>
    <br>
    Administrative:
    <a href="mailto:	jessica.deantoni@ist.ac.at"> Jessica de Antoni </a> <br>
    Webmaster:
    <a href="mailto:vadim.kaloshin@gmail.com"> Kristina Smiljkovic</a>
    <br>
  </address>
</div>
