<div
  class="tab-pane"
  id="v-pills-members"
  role="tabpanel"
  aria-labelledby="v-pills-members-tab">
  <h2 class="strong pb-3">Members</h2>

  <ul class="list-unstyled">
    <li class="media pb-5">
      <div class="">
        <img
          class=" mr-3 d-none d-lg-block"
          src="../../../assets/ekoudjin.jpeg"
          alt="No image"/>
      </div>
      <div class="media-body">
        <h2 class="font-weight-bold"> Comlan Edmond Koudjinan </h2>
        <p class="textVadim">
          Comlan is a Postdoc at IST Austria in Prof. Kaloshin Group.
          He completed his PhD at the <cite> University Roma Tre </cite> under the supervision of
          <a href="http://www.mat.uniroma3.it/users/chierchia/WWW/english_version.html"  target="_blank"
          >Prof. Luigi Chierchia</a>. Afterwards, he did one year of Postdoc at
          the <cite>University Roma Tre</cite> and a six months research visit in ICTP.
          His research centers in finite dimensional <cite> KAM Theory </cite> (quantitative
          integrability of Hamiltonian systems on Cantor–like sets; explicit,
          geometric and “sharp” measure estimate of the family of
          invariant tori, etc). <br>
          He is also interested in the closely related subject of <cite>Mathematical Billiards</cite>,
          on which he is working in Prof. Kaloshin Group.
          Mathematical Billiard is a dynamical model that describes a frictionless
          motion of a massless billiard ball in a bounded domain with piecewise smooth
          boundary, and subjected to elastic reflections on the boundary i.e. the angle
          of reflection is equal to the angle of incidence and inverse problems: get geometric
          insights on the domain from some purely dynamical data.
        </p>
      </div>
    </li>
      <li class="media pb-5">
        <div>
          <img
            class=" mr-3 d-none d-lg-block"
            src="../../../assets/kdrach.jpeg"
            alt="No image"/>
        </div>
        <div class="media-body">
          <h2 class="font-weight-bold"> Kostiantyn Drach </h2>
          <p class="textVadim">
            Kostiantyn (or Kostya) is a postdoc at IST Austria in Prof. Kaloshin Group. He received
            his PhD in 2016 from the <cite> Institute of Low Temperature Physics </cite> and <cite>
            V.N. Karazin Kharkiv University</cite>,
            both in Kharkiv/Ukraine, under the supervision of 
            <a href="https://ilt.kharkov.ua/bvi/structure/depart_r/d23/borisenko/borisenko_e.htm" target="_blank"
            >Prof. Alexander Borisenko</a>. After that,
            Kostya was a postdoctoral fellow at <cite> Jacobs University Bremen</cite> and <cite>Aix-Marseille
            University</cite>, working in the group of
            <a href="https://de.wikipedia.org/wiki/Dierk_Schleicher" target="_blank">
             Prof. Dierk Schleicher</a>.<br>
            Kostiantyn’s research interests lie in a broadly constructed field of geometry and dynamics.
            These interests range from classical problems of geometry “in the large” and reverse isoperimetric
            inequalities in <cite>Riemannian geometry</cite>, to rigidity and renormalization of polynomials and rational
            maps in one-dimensional holomorphic dynamics. In Prof. Kaloshin Group, he is working, among others,
            on a project concerning length spectral rigidity of negatively curved Riemannian metrics.<br>
            Besides research mathematics, Kostya actively contributes to various math outreach activities
            for young generation mathematicians and the public.
          </p>
        </div>
      </li>

      <li class="media pb-5">
        <div>
          <img
            class="  mr-3 d-none d-lg-block"
            src="../../../assets/CorentiN.jpg"
            alt="No image"
            width="200"
            height="300"/>
        </div>
        <div class="media-body">
          <h2 class="font-weight-bold"> Corentin Fierobe </h2>
          <p class="textVadim">
          Corentin entered Kaloshin's Group in September 2021 as a postdoc, after completing 
          his PhD at <cite> ÉNS de Lyon </cite> under the supervision of
          <a href="http://www.umpa.ens-lyon.fr/umpa/annuaire/glutsyuk-alexey"  target="_blank"> Prof. Alexey Glutsyuk</a> in August of 2021. 
          His PhD is devoted to the study of periodic orbits of billiards and the famous <cite>
          Ivrii's conjecture</cite>. He studied a wide class of billiards introduced by S. Tabachnikov, 
          called <cite> projective billiards</cite>, which contains billiards on manifolds of constant curvature. 
          He also investigated complex caustics of the elliptic billiard, and more generally 
          how complex methods can be used to understand the billiard dynamics. <br>
          His work in Kaloshin's Group will also be focused on topics related to billiards, 
          such as Ivrii's conjecture and spectral rigidity. These questions lead to understanding 
          the information encoded into the length of billiard periodic orbits in recovering the 
          geometry of underlying domains (the so-called inverse problems). These problems are 
          motivated by a famous question of Kac from <cite>"Can one hear the shape of a drum?"</cite>
          (Am. Math. Month., 1966): if two domains (for the Dirichet's problem of the Laplacian)
           are isospectral, are they isometric? It was proven to be false for general domains, 
           but for domains with a smooth or analytic boundary it is wide open.
          </p>
        </div>
      </li>

  </ul>
</div>
